/* BIG TABLET TO 1200px -- widths smaller than the 1140px row */

@media only screen and (max-width: 1200px) {
	.hero-text-box {
		width: 100%;
		padding: 0 2%;
	}

	.row { padding: 0 2%; }
}



/* SMALL TABLET TO BIG TABLET: FROM 768px TO 1023px */

@media only screen and (max-width: 1023px) {
	body { font-size: 18px; }
	section { padding: 80px 0; }

	.long-copy {
		width: 85%;
		margin-left: 7.5%;
	}

	.section-steps .row:last-child .steps-box:first-child { text-align: center; }
	.section-steps .row:last-child .steps-box:last-child { margin-left: -6%; }
	.steps-box { margin-top: 10px; }
	.steps-box:last-child { margin-top: 30px; }
	.works-step {
		margin-bottom: 40px;
		font-size: 100%;
	}
	.works-step div {
		font-size: 130%;
		padding-top: 10px;
	}
	.works-step:last-of-type { margin-bottom: 60px; }
	.iphone-screen { width: 54%; }

	.icon-small {
		width: 10px;
		margin-right: 5px;
	}
	.city-features { font-size: 80%; }

	.plan-box {
		width: 100%;
		margin-left: 0;
	}

	.plan-prices { font-size: 250%; }
	.contact-form { width: 85%; }

	.footer-nav li { margin-right: 15px; }
}



/* SMALL SCREENS TO SMALL TABLETS: FROM 481px TO 767px */

@media only screen and (max-width: 767px) {
	body { font-size: 16px; }
	section { padding: 30px 0; }

	.row,
	.hero-text-box { padding: 0 4%; }

	.col {
		width: 100%;
		margin: 0 0 4% 0;
	}

	.main-nav { display: none; }

	h1 { font-size: 180%; }
	h2 { font-size: 150%; }

	.long-copy {
		width: 100%;
		margin-left: 0;
	}

	.steps-box:first-child { text-align: center; }

	.works-step div {
		height: 40px;
		width: 40px;
		margin-right: 15px;
		padding: 4px;
		font-size: 130%;
	}

	.works-step { margin-bottom: 30px; }
	.works-step:last-of-type { margin-bottom: 30px; }
	.iphone-screen { width: 40%; }

	footer .row .col { width: 50% }
	.footer-nav li {
		display: block;
		margin-bottom: 4px;
	}
	.footer-nav li:last-child { margin-bottom: -12px; }
}



/* SMALL SCREEN FROM 0 TO 480px */

@media only screen and (max-width: 480px) {
	section { padding: 25px 0; }
	.contact-form { width: 100%; }

	.section-steps .row:last-child .steps-box:last-child { margin-left: -2%; }

	.meals-showcase li { width: 50%; }
	.meals-showcase:first-child { margin-top: 20px; }
	.meals-showcase:last-of-type { display: none; }


	.section-features .row:last-child .col:last-of-type { margin-bottom: 40px; }
}


